
/* *{margin: 0;padding: 0;} */
.title {
    color: red;
    font-size: 40px;
}
.title02{
    position: absolute;
    border : solid 2px black;
    background-color: rgb(10, 226, 255);
    font-size: 50px;
    top: 220px;
    left: 350px;
    z-index: 2;
}
.area {
    position: relative;
    width: 1000px;
    border : solid 1px black;
    margin: 20px;
    padding: 10px;
    float: left;
    z-index: 0;
}
.start{
    position: relative;
    font-size: 50px;
    width: 200px;
    border: 1px solid #000;  
    margin-left: 400px;
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center;
    z-index: 0;
}
.field {
    width: 400px;
    height: 250px;
    border: 1px solid #000; 
    margin: 20px;
    padding: 10px;
    float: left;
    z-index: 0;
}
.deck {
    width: 75px;
    border: 1px solid #000;
    margin: 20px;
    padding: 10px;
    float: left;
    z-index: 0;
}
.pair {
    width: 300px;
    height: 250px;
    border: 1px solid #000;
    margin: 20px;
    padding: 10px;
    float: left;
    z-index: 0;
}
.hand {
    width: 800px;
    height: 140px;
    border: 1px solid #000; 
    margin: 20px;
    padding: 10px;
    float: left;
    z-index: 0;
}
.card1 {
    position: absolute;
    z-index: 1;
}
.card1-1 {
    width: 75px;
    border: 1px solid #000; 
    margin: 10px;
    left: 40px;
}
.card1-2 {
    width: 75px;
    border: 1px solid #000; 
    margin: 10px;
    left: 140px;
}
.card1-3 {
    width: 75px;
    border: 1px solid #000; 
    margin: 10px;
    left: 240px;
}
.card1-4 {
    width: 75px;
    border: 1px solid #000; 
    margin: 10px;
    left: 340px;
}
.card1-5 {
    width: 75px;
    border: 1px solid #000; 
    margin: 10px;
    left: 440px;
}
.card1-6 {
    width: 75px;
    border: 1px solid #000; 
    margin: 10px;
    left: 540px;
}
.card1-7 {
    width: 75px;
    border: 1px solid #000; 
    margin: 10px;
    left: 640px;
}
.card1-8 {
    width: 75px;
    border: 1px solid #000; 
    margin: 10px;
    left: 740px;
}
.card2{
    position: absolute;
    z-index: 1;
}
.card2-1{
    width: 75px;
    border: 1px solid #000; 
    margin: 10px;
    left: 40px;
}
.card2-2{
    width: 75px;
    border: 1px solid #000; 
    margin: 10px;
    left: 140px;
}
.card2-3{
    width: 75px;
    border: 1px solid #000; 
    margin: 10px;
    left: 240px;
}
.card2-4{
    width: 75px;
    border: 1px solid #000; 
    margin: 10px;
    left: 340px;
}
.card2-5{
    width: 75px;
    border: 1px solid #000; 
    margin: 10px;
    top: 170px;
    left: 40px;
}
.card2-6{
    width: 75px;
    border: 1px solid #000; 
    margin: 10px;
    top: 170px;
    left: 140px;
}
.card2-7{
    width: 75px;
    border: 1px solid #000; 
    margin: 10px;
    top: 170px;
    left: 240px;
}
.card2-8{
    width: 75px;
    border: 1px solid #000; 
    margin: 10px;
    top: 170px;
    left: 340px;
}
/*.card3{
    width: 50px;
    border: 1px solid #000; 
    margin: 10px;
    float: left;
}*/
.card1 img{
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
.card2 img{
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
.card3 img{
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
.deck img{
    width: 100%;
    height: auto;
    vertical-align: bottom;
}